.section {
  // padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 1344px) {
    padding-bottom: 50px;
  }
}

.first_section {
  padding-top: 80px;
  @media screen and (min-width: 1440px) {
    padding-top: 100px;
  }
}
.section-background {
  background-color: $grey;
}

.section-title {
  @include font(500, 30px, 34px, left);
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 20px;
}
