.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 84px;
  }
}

.section {
  padding-top: 30px;
}

@media screen and (min-width: 1344px) {
  .section {
    padding-top: 50px;
  }
}

.first_section {
  padding-top: 80px;
}

@media screen and (min-width: 1440px) {
  .first_section {
    padding-top: 100px;
  }
}

.section-background {
  background-color: #f4f4f4;
}

.section-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  text-align: left;
  text-transform: uppercase;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.2);
  padding: 20px;
}

@media screen and (min-width: 1440px) {
  .header {
    height: 77px;
    padding-top: 23px;
    padding-bottom: 24px;
    padding-left: 31px;
    padding-right: 29px;
  }
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  display: block;
  width: 27px;
  height: 18px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.burger:focus, .burger:hover {
  outline: none;
}

.burger span,
.burger span::before,
.burger span::after {
  position: absolute;
  display: block;
  background-color: #000000;
  content: '';
  width: 26px;
  height: 2px;
}

@media screen and (min-width: 1440px) {
  .burger span,
  .burger span::before,
  .burger span::after {
    height: 3px;
  }
}

.burger span::before {
  top: -8px;
}

.burger span::after {
  bottom: -8px;
}

.burger-line span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.burger span::before,
.burger span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.burger-line span::before {
  -webkit-transition-property: top, transtorm;
  transition-property: top, transtorm;
}

.burger-line span::after {
  -webkit-transition-property: bottom, transtorm;
  transition-property: bottom, transtorm;
}

.burger-line.is-active span {
  background: none;
}

.burger-line.is-active span::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.burger-line.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.header-logo {
  display: block;
  background-image: url("/images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  width: 100px;
  height: 18px;
}

@media screen and (min-width: 1440px) {
  .header-logo {
    width: 135px;
    height: 30px;
  }
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-navigation {
    width: 500px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 76px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .header-right {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    width: 90px;
  }
}

.header-search {
  display: block;
  width: 24px;
  height: 16px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.header-search:focus, .header-search:hover {
  color: #ff0000;
  outline: none;
}

.search {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1440px) {
  .search {
    width: 20px;
    height: 20px;
  }
}

.burger-menu {
  width: 300px;
  margin-left: -300px;
  background-color: #ffffff;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  padding: 31px;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    top: 78px;
  }
}

.burger-menu.menu-active {
  margin-left: 0px;
}

.burger-menu-title {
  text-transform: uppercase;
  color: #999393;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .burger-menu-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.burger-sections-item {
  text-transform: uppercase;
  padding: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .burger-sections-item {
    padding: 6px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
  }
}

.burger-sections-item:focus, .burger-sections-item:hover {
  color: #ff0000;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.search-input-box {
  position: absolute;
  top: 70px;
  right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 260px;
  background-color: #f4f4f4;
  padding: 3px;
}

@media screen and (min-width: 1440px) {
  .search-input-box {
    top: 23px;
    right: 28px;
    width: 280px;
  }
}

.search-input {
  width: 200px;
}

.search-input:focus, .search-input:hover {
  outline: none;
}

.searchInInput {
  position: relative;
  z-index: 20;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1440px) {
  .searchInInput {
    width: 20px;
    height: 20px;
  }
}

.searchInInput:focus, .searchInInput:hover {
  color: #ff0000;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.closeInInput {
  position: relative;
  z-index: 20;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1440px) {
  .closeInInput {
    width: 20px;
    height: 20px;
  }
}

.closeInInput:focus, .closeInInput:hover {
  color: #ff0000;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.first-container-item {
  width: 100%;
  height: 466px;
  border: 2px solid palevioletred;
  padding: 20px 15px;
}

.slide-title {
  width: 608px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 20px;
}

.slide-text {
  width: 532px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.first-container-mini-item {
  width: 302px;
  height: 60px;
}

.smini-slide-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.water-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 302px;
}

.water-title {
  width: 450px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 17px;
  padding-top: 46px;
  padding-bottom: 88px;
}

.water-link {
  color: #f4f4f4;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 17px;
}

.all-material {
  width: 372px;
}

.all-material-item::before {
  content: '';
  width: 72px;
  height: 1px;
  background-color: #ffffff;
  top: -5px;
}

.first-section {
  padding-top: 80px;
}

.range-card {
  width: 408px;
  height: 515px;
}

.range-category {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.focus-slide {
  height: 399px;
  border: 2px solid #f4f4f4;
  padding: 18px 16px;
}

.slide-image {
  width: 1272px;
  height: 399px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.focus-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  padding-top: 174px;
  padding-bottom: 20px;
}

.focus-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.category {
  width: 159px;
  height: 24px;
  background-color: #ffffff;
  padding: 5px 10px;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */