<section class="section">
    <div class="container">
        <div class="water-image" style="background-image: url('/images/sec1-3.jpg');">   
            <div>
                <h2 class="water-title">Потоп на Западной Украине</h2>
                <a class="water-link" href="">смотреть все материалы</a>
            </div>
            <div class="scrollbar scrollbar-warning">
                <ul class="force-overflow all-material all-material-js"></ul>
            </div>
        </div>
        
    </div>
</section>