<section class="section first_section">
    <div class="container">
        <div class="first-container first-container-js">
            <div class="first-container-item slide">
                <!-- <div class="slide-image" style="background-image: url(../images/img140.png)"></div> -->
                <!-- <img src="../images/sec1-1.png" alt=""> -->
                <p class="category">Политика</p>
                <h2 class="slide-title">Леди в законе. Зачем Зеленскому понадобился особый статус для жены президента</h2>
                <p class="slide-text">Владимир Зеленский загорелся идеей разработки закона о первой леди. Для чего ему это понадобилось, и какие права и
                обязанности возлагаются на супругу главы государства в Украине</p>
            </div>
            <div class="first-container-item slide">
                <!-- <div class="slide-image" style="background-image: url(../images/img340.png)"></div> -->
                <!-- <img src="../images/img140.png" alt=""> -->
                <p class="category">Длинный фокус</p>
                <h2 class="slide-title"></h2>
                <p class="slide-text">Почему украинки участвуют в боях без правил</p>
            </div>
            <div class="first-container-item slide">
                <!-- <div class="slide-image" style="background-image: url(../images/img312.png)"></div> -->
                <!-- <img src="../images/img140.png" alt=""> -->
                <p class="category">Украина</p>
                <h2 class="slide-title">Потоп на Западной Украине</h2>
                <p class="slide-text">Появилось видео затопленного Галича с воздуха</p>
            </div> 
            <div class="first-container-item slide">
                <!-- <div class="slide-image" style="background-image: url(../images/sec1-4.jpg)"></div> -->
                <!-- <img src="../images/img140.png" alt=""> -->
                <p class="category">Украина</p>
                <h2 class="slide-title">"День госпереворота"</h2>
                <p class="slide-text">На Майдане в Киеве началась акция "Защити Украину".</p>
            </div>
        </div>
        <div class="slider-for"></div>
    </div>
</section>