<section class="section first_section">
    <div class="container">
        <div id="g1" class="glide first-container first-container-js">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li id="1" class="glide__slide mini-slide" style="background-image: url('/images/sec1-1.jpg');">
                        <h2 class="mini-slide-title">Леди в законе. Особый статус для жены президетна</h2>
                    </li>
                    <li id="2" class="glide__slide mini-slide" style="background-image: url('/images/sec1-2.jpg');">
                        <h2 class="mini-slide-title">Взрыв на Позняках в Киеве</h2>
                    </li>
                    <li id="3" class="glide__slide mini-slide" style="background-image: url('/images/sec1-3.jpg');">
                        <h2 class="mini-slide-title">Потоп на западной Украине</h2>
                    </li>
                    <li id="4" class="glide__slide mini-slide" style="background-image: url('/images/sec1-4.jpg');">
                        <h2 class="mini-slide-title">Цифровая трансформация бизнеса Украины</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div id="g2" class="glide slider-for">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide first-container-item" style="background-image: url('/images/sec1-1.jpg');">
                        <p class="category-in-list">Политика</p>
                        <h2 class="slide-title">Леди в законе. Зачем Зеленскому понадобился особый статус для жены президента</h2>
                        <p class="slide-text">Владимир Зеленский загорелся идеей разработки закона о первой леди. Для чего ему это
                            понадобилось, и какие права и обязанности возлагаются на супругу главы государства в Украине</p>
                        </li>
                    <li class="glide__slide first-container-item" style="background-image: url('/images/sec1-2.jpg');">
                        <p class="category-in-list">Длинный фокус</p>
                        <h2 class="slide-title">Ни тоски, ни жалости</h2>
                        <p class="slide-text">Почему украинки участвуют в боях без правил</p>
                    </li>
                    <li class="glide__slide first-container-item" style="background-image: url('/images/sec1-3.jpg');">
                        <p class="category-in-list">Украина</p>
                        <h2 class="slide-title">Потоп на Западной Украине</h2>
                        <p class="slide-text">Появилось видео затопленного Галича с воздуха</p>
                    </li>
                    <li class="glide__slide first-container-item" style="background-image: url('/images/sec1-4.jpg');">
                        <p class="category-in-list">Украина</p>
                        <h2 class="slide-title">Цифровая трансформация бизнеса Украины</h2>
                        <p class="slide-text">Домашняя работа. Как пандемия ускорила процесс диджитализации в бизнесе.</p>
                    </li>
                </ul>
             
        </div>
    </div>
</section>