<section class="section">
    <div class="container">
        <div class="footer">
            <a href='/' class="header-logo"></a>
            <div class="footer-top">
                <ul class="footer-list">
                        <li>Политика</li>
                        <li>Украина</li>
                        <li>Экономика</li>
                        <li>Культура</li>
                        <li>Мнение</li>
                        <li>Рейтинги</li>
                        <li>Длинный фокус</li>
                        <li>Мир</li>
                </ul>
                <div class="footer-top-right">
                    <ul class="footer-img-box">
                        <li class="footer-img" style="background-image: url('/images/footer1.jpg');"></li>
                        <li class="footer-img" style="background-image: url('/images/footer2.jpg');"></li>
                        <li class="footer-img" style="background-image: url('/images/footer3.jpg');"></li>
                    </ul>
                    <div class="footer-subscrib">
                        <p>Гарантировано получите скидку -10%</p>
                        <button class="footer-button">Подписаться</button>
                    </div>
                </div>
            </div>
            <div class="footer-center">
                <p class="footer-center-description">Все права на материалы, опубликованные на данном ресурсе, принадлежат ООО "ФОКУС МЕДИА". Какое-либо использование
                материалов без письменного разрешения ООО "ФОКУС МЕДИА" - запрещено. При использовании материалов с данного ресурса
                гиперссылка focus.ua обязательна.
                
                Данный ресурс — для пользователей возрастом от 18 лет и старше.</p>
                <p class="footer-center-description">Перепечатка, копирование или воспроизведение информации, содержащей ссылку на агентство ИнА "Українські Новини", в
                каком-либо виде строго запрещены.
                
                Все материалы, которые размещены на этом сайте со ссылкой на агентство "Интерфакс-Украина", не подлежат дальнейшему
                воспроизведению и/или распространению в любой форме, кроме как с письменного разрешения агентства.
                
                Материалы с плашками "Р", "Новости партнеров", "Новости компаний", "Новости партий", "Инновации", "Позиция", "Спецпроект
                при поддержке" публикуются на коммерческой основе.</p>
            </div>
            <div class="footer-bottom">
                <p class="footer-bottom-description">&copy 2020 Фокус. Все права защищены.</p>
                <p class="footer-bottom-description"><a href="">Політика конфіденційності</a></p>
            </div>
        </div>
    </div>
</section>