<section class="section">
    <div class="container">
        <div class="glide long-focus">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="slide-image" style="background-image: url('/images/sec1-2.jpg');">
                        <p class="category">Длинный фокус</p>
                        <h2 class="focus-title">Ни тоски, ни жалости</h2>
                        <p class="focus-text">Почему украинки участвуют в боях без правил</p>
                    </li>
                    <li class="slide-image" style="background-image: url('/images/sec1-1.jpg');">
                        <p class="category">Длинный фокус</p>
                        <h2 class="focus-title">Леди в законе</h2>
                        <p class="focus-text">Зачем Зеленскому понадобился особый статус для жены президента</p>
                    </li>
                    <li class="slide-image" style="background-image: url('/images/sec1-3.jpg');">
                        <p class="category">Длинный фокус</p>
                        <h2 class="focus-title">Потоп на Западной Украине</h2>
                        <p class="focus-text">Потоп на Западной Украине</p>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg></button>
            </div>
        </div>
    </div>
</section>