<section class="section">
    <div class="container">
        <div class="slide-container">
            <div class="slide">
                <div class="slide-image" style="background-image: url(../images/img340.png)"></div>
                <p class="category">Длинный фокус</p>
                <h2 class="slide-title">Ни тоски, ни жалости</h2>
                <p class="slide-text">Почему украинки участвуют в боях без правил</p>
            </div>
            <div class="slide">
                <div class="slide-image" style="background-image: url(../images/img140.png)"></div>
                <p class="category">Длинный фокус</p>
                <h2 class="slide-title">Леди в законе</h2>
                <p class="slide-text">Зачем Зеленскому понадобился особый статус для жены президента</p>
            </div>
            <div class="slide">
                <div class="slide-image" style="background-image: url(../images/img312.png)"></div>
                <p class="category">Длинный фокус</p>
                <h2 class="slide-title">Потоп на Западной Украине</h2>
                <p class="slide-text">Потоп на Западной Украине</p>
            </div>
        </div>
    </div>
</section>