<section class="section">
    <div class="container">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="slide-image" style="background-image: url('/images/sec1-2.png');">
                        <p class="category">Длинный фокус</p>
                        <h2 class="focus-title">Ни тоски, ни жалости</h2>
                        <p class="focus-text">Почему украинки участвуют в боях без правил</p>
                    </li>
                    <li class="slide-image" style="background-image: url('/images/sec1-1.png');">
                        <p class="category">Длинный фокус</p>
                        <h2 class="focus-title">Леди в законе</h2>
                        <p class="focus-text">Зачем Зеленскому понадобился особый статус для жены президента</p>
                    </li>
                    <li class="slide-image" style="background-image: url('/images/sec1-3.png');">
                        <p class="category">Длинный фокус</p>
                        <h2 class="focus-title">Потоп на Западной Украине</h2>
                        <p class="focus-text">Потоп на Западной Украине</p>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
        </div>
    </div>
</section>