<section class="section section-background">
    <div class="container">
        <h2 class="section-title">Сейчас популярно</h2>
        <div id="g3" class="glide popular-now">
            <div class="glide__track" data-glide-el="track">
                <!-- <ul class="glide__slides popular-now-js"></ul> -->
                <ul class="glide__slides popular">
                    <li class="glide__slide popular-section ">
                        <img class="pop-section-image" src="/images/popul1.jpg" alt=""> 
                        <p class="category-in-list category-in-pop-list">Протесты в США</p>
                        <h2 class="title pop-title pop-title-two white-color">Жертвы собственной пропаганды. Как либеральные могут проиграть холодную войну</h2>
                        <p class="pop-date">15:44</p>
                    </li>
                    <li class="glide__slide popular-section " style=" background-color:#000000">
                        <p class="category-in-list">Мир</p>
                        <h2 class="title pop-title white-color">Австралиец выловил рекордного красного императора и решил передать его ученым</h2>
                        <p class="pop-date">15:44</p>
                    </li>
                    <li class="glide__slide popular-section " style=" background-color:#ffffff">
                        <p class="category-in-list black-bg">Мир</p>
                        <h2 class="black-color title pop-title ">Жизнь за 80. 5 самых пожилых рекорсменов из Книги рекордов Гиннеса</h2>
                        <p class="pop-date">15:44</p>
                    </li>
                    <li class="glide__slide popular-section ">
                        <img class="pop-section-image" src="/images/popul4.jpg" alt="">
                        <p class="category-in-list category-in-pop-list">Mир</p>
                        <h2 class="title pop-title pop-title-two white-color">Дресс-код постапокалипсиса. Как коронавирус и карантин навсегда изменили стиль</h2>
                        <p class="pop-date">15:44</p>
                    </li>
                    <li class="glide__slide popular-section " style=" background-color:#000000">
                        <p class="category-in-list">Мир</p>
                        <h2 class="title pop-title white-color">Австралиец выловил рекордного красного императора и решил передать его ученым</h2>
                        <p class="pop-date">15:44</p>
                    </li>
                    <li class="glide__slide popular-section ">
                        <img class="pop-section-image" src="/images/popul4.jpg" alt="">
                        <p class="category-in-list category-in-pop-list">Mир</p>
                        <h2 class="title pop-title pop-title-two white-color">Дресс-код постапокалипсиса. Как коронавирус и карантин навсегда изменили стиль</h2>
                        <p class="pop-date ">15:44</p>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left arrow--left" data-glide-dir="<">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-left"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
                <button class="glide__arrow glide__arrow--right arrow--right" data-glide-dir=">">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-right"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg></button>
            </div>
        </div>
        
    </div>

</section>