<section class="section no-section">
    <div class="container ">
        <div class="subscription-box">
            <ul class="magazine"> 
                <li class="magazine-item" style="background-image: url('/images/mag1.jpg');"></li>
                <li class="magazine-item" style="background-image: url('/images/mag2.jpg');"></li>
                <li class="magazine-item" style="background-image: url('/images/mag4.jpg');"></li>
                <li class="magazine-item" style="background-image: url('/images/mag3.jpg');"></li>
                <li class="magazine-item" style="background-image: url('/images/mag5.jpg');"></li>
            </ul>
            <div>
                <p class="medium-text">Подпишись с другом!</p>
                <p class="small-text">-10% каждому</p>
            </div>
            <button class="footer-button">Подписаться</button>
        </div>
    </div>
</section>