<section class="section">
    <div class="container">
        <h2 class="section-title">Рейтинги</h2>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                    <div class="carousel-item active range-card" style="background-image: url('/images/range1.jpg')">
                            <p class="range-category">Рейтинги</p>
                            <p class="oneHandred">100</p>
                            <h2 class="range-title">Рейтинг 2019</h2>
                            <h3 class="range-title">Самые влиятельные украинцы</h3>
                    </div>
                    <div class="carousel-item range-card" style="background-color: #ffffff">
                        <p class="range-category">Рейтинги</p>
                        <img class="range-img" src="/images/range2.jpg" alt="">
                        <h2 class="range-title">Бунт кнопок. 30 лучших работодателей Украины — рейтинг Фокуса</h2>
                    </div>
                    <div class="carousel-item range-card" style="background-color: #000000">
                        <p class="range-category">Рейтинги</p>
                        <p class="oneHandred">100</p>
                        <h2 class="range-title">Рейтинг 2019</h2>
                        <h3 class="range-title">Самые богатые люди Украины. Полный список</h3>
                    </div>
                    <div class="carousel-item range-card" style="background-color: #ffffff">
                        <p class="range-category">Рейтинги</p>
                        <img class="range-img" src="/images/range2.jpg" alt="">
                        <h2 class="range-title">Бунт кнопок. 30 лучших работодателей Украины — рейтинг Фокуса</h2>
                    </div>
                    <div class="carousel-item range-card" style="background-image: url('/images/range1.jpg')">
                        <p class="range-category">Рейтинги</p>
                        <p class="oneHandred">100</p>
                        <h2 class="range-title">Рейтинг 2019</h2>
                        <h3 class="range-title">Самые влиятельные украинцы</h3>
                    </div>
                
            </div>
        </div>

    </div>
</section>


