<section class="section">
    <div class="container">
        <h2 class="section-title">Украина</h2>
        <div class="fourth-sec">
            <ul class="uk-section-list ukraine-js"></ul>
            <div class="foto-day" style="background-image: url('/images/uk7.jpg');">
               <p class="category-in-list">Фото дня</p>
               <h2 class="uk-title">Бизнес и немного удовольствия: Grand Hotel Lviv Luxury & SPA</h2>
            </div>
            <ul class="section-list ukraine-js-two"></ul>
        </div>
    </div>

</section>