.date {
  position: relative;
  // bottom: -18px;
  left: 0px;
  @include font(500, 10px, 12px, left);
  color: $dark-grey;
  @media screen and (min-width: 768px) {
    top: 6px;
    @include font(500, 12px, 12px, left);
  }
  @media screen and (min-width: 1440px) {
    bottom: -18px;
    @include font(500, 14px, 14px, left);
  }
}
