.water-image {
  height: 260px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1440px) {
    height: 302px;
  }
}

.water-title {
  color: $white;
  text-transform: uppercase;
  @include font(500, 18px, 22px, left);
  padding-top: 20px;
  padding-left: 17px;
  @media screen and (min-width: 768px) {
    @include font(500, 24px, 28px, left);
    width: 350px;
    padding-top: 36px;
    padding-bottom: 88px;
  }
  @media screen and (min-width: 1440px) {
    width: 450px;
    @include font(500, 40px, 48px, left);
    padding-top: 46px;
    padding-bottom: 88px;
  }
}

.water-link {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    color: $white;
    @include font(500, 12px, 14px, left);
    text-transform: uppercase;
    padding-left: 17px;
  }
  @include font(500, 16px, 14px, left);
}

.all-material {
  color: $white;
  overflow: hidden;
  width: 240px;
  margin-left: 17px;
  @media screen and (min-width: 768px) {
    width: 280px;
    padding-bottom: 26px;
    padding-right: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 372px;
  }
}

.all-material-item {
  height: 60px;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 1440px) {
    height: 100px;
  }
}

.all-material-item::before {
  position: relative;
  top: -5px;
  content: '';
  width: 72px;
  height: 2px;
  background-color: $white;
  // color: $white;
}

.scrollbar {
  float: left;
  overflow-y: scroll;
  margin-right: 0px;
  margin-top: 17px;
  height: 170px;
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
    margin-top: 30px;
    margin-right: 20px;
    height: 200px;
  }
  @media screen and (min-width: 1440px) {
    height: 250px;
  }
}

.force-overflow {
  min-height: 200px;
  @media screen and (min-width: 768px) {
    min-height: 230px;
  }
  @media screen and (min-width: 1440px) {
    min-height: 450px;
  }
}

.scrollbar-warning::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff8800;
}
