.water-image {
  display: flex;
  justify-content: space-between;
  height: 302px;
}

.water-title {
  width: 450px;
  @include font(500, 40px, 48px, left);
  color: $white;
  text-transform: uppercase;
  padding-left: 17px;
  padding-top: 46px;
  padding-bottom: 88px;
}

.water-link {
  color: $white;
  @include font(500, 16px, 14px, left);
  text-transform: uppercase;
  padding-left: 17px;
}

.all-material {
  width: 372px;
  color: $white;
  padding-right: 20px;
  overflow: hidden;
}

.all-material-item::before {
  content: '';
  width: 72px;
  height: 2px;
  background-color: $white;
  top: -5px;
  color: $white;
}
