// .first-container {
//   display: grid;
//   justify-content: space-between;
//   margin-bottom: 20px;

//   @media screen and (max-width: 767px) {
//     grid-template-columns: 136px 136px;
//     grid-gap: 8px;
//     width: 280px;
//   }
//   @media screen and (min-width: 768px) {
//     grid-template-columns: 160px 160px 160px 160px;
//     height: 50px;
//   }
//   @media screen and (min-width: 1440px) {
//     grid-template-columns: 302px 302px 302px 302px;
//     height: 60px;
//     margin-bottom: 30px;
//   }
// }

.first-container {
  margin-bottom: 20px;
}

.mini-slide {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  padding-bottom: 5px;
  @media screen and (min-width: 768px) {
    height: 50px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: 302px 302px 302px 302px;
    height: 60px;
  }
}

.mini-slide-title {
  color: $white;
  margin-top: 6px;
  @include font(700, 10px, 10px, center);
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 14px, center);
    margin-top: 6px;
  }
  @media screen and (min-width: 1440px) {
    @include font(700, 16px, 18px, center);
    margin-top: 15px;
  }
}

.first-container-item {
  width: 1272px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  @media screen and (min-width: 768px) {
    width: 688px;
    height: 260px;
  }
  @media screen and (min-width: 1440px) {
    height: 466px;
  }
}

.slide-title {
  color: $white;
  @include font(700, 13px, 15px, left);
  width: 180px;
  margin: 17px 17px 12px;
  @media screen and (min-width: 768px) {
    @include font(700, 24px, 26px, left);
    width: 400px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 608px;
    @include font(700, 36px, 40px, left);
    margin-bottom: 30px;
    margin-top: 40px;
  }
}

.slide-text {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    color: $white;
    width: 420px;
    @include font(400, 14px, 16px, left);
    margin-left: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 532px;
    @include font(400, 20px, 24px, left);
  }
}

// .first-container-mini-item {
//   width: 302px;
//   height: 60px;
// }

.mini-slide.glide__slide--active {
  border-bottom: 2px solid $red;
}
