.footer-top {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid $dark-grey;
  }
}

.footer-list {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-gap: 8px;
  justify-content: space-between;
  @include font(500, 14px, 18px, left);
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: 146px 146px 146px 146px;
    width: 624px;
    @include font(500, 16px, 24px, left);
  }
}

.footer-top-right {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.footer-button {
  background-color: $black;
  color: $white;
  margin-top: 23px;
  width: 180px;
  height: 40px;
  padding: 6px 16px;

  &:focus,
  &:hover {
    color: $red;
  }

  @media screen and (max-width: 767px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 209px;
    height: 48px;
    padding: 10px 20px;
  }
}

.footer-img-box {
  display: flex;
  justify-content: space-between;
  width: 270px;
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1440px) {
    width: 301px;
    margin-right: 54px;
  }
}

.footer-img {
  width: 87px;
  height: 114px;
  background-repeat: no-repeat;
}

.footer-subscrib {
  width: 213px;
  @media screen and (max-width: 767px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
}

.footer-subscrib p {
  @include font(700, 16px, 18px, left);
  @media screen and (max-width: 767px) {
    margin-top: 16px;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 190px;
    margin-top: 23px;
  }
}

.footer-center {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 26px;
}

.footer-center-description {
  width: 617px;
  @include font(400, 16px, 20px, left);
  color: $dark-grey;
}

.footer-bottom {
  @include font(500, 18px, 18px, left);
  margin-top: 14px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-bottom-description {
  color: $black;
  @include font(500, 14px, 20px, center);
  @media screen and (min-width: 1140px) {
    width: 617px;
    @include font(500, 16px, 34px, left);
  }
}
