.slide-image {
  width: 1272px;
  height: 399px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.focus-title {
  @include font(700, 22px, 24px, center);
  color: $white;
  padding-top: 174px;
  padding-bottom: 20px;
}

.focus-text {
  @include font(400, 16px, 18px, center);
  color: $white;
}
