.focus-slide {
  height: 399px;
  border: 2px solid $grey;
  padding: 18px 16px;
}

.slide-image {
  width: 1272px;
  height: 399px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.focus-title {
  @include font(700, 22px, 24px, center);
  padding-top: 174px;
  padding-bottom: 20px
}

.focus-text{
  @include font(400, 16px, 18px, center);
}