.arrow--left {
  height: 100%;
  left: -4em;
  background-color: $white;
  color: $black;
  width: 50px;
}

.arrow--right {
  height: 100%;
  right: -4em;
  background-color: $white;
  color: $black;
  width: 50px;
}

.popular-section {
  height: 293px;
  width: 300px;
  margin-right: 22px;
}

.pop-title {
  position: relative;
  top: 139px;
  // color: $white;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.pop-title-two {
  top: -150px;
}

// .popular-section.pop-title:nth-child(3) {
//   color: $black;
// }
.white-color {
  color: $white;
}
