.arrow--left {
  height: 100%;
  left: -4em;
  background-color: $white;
  color: $black;
  width: 50px;
}

.arrow--right {
  height: 100%;
  right: -4em;
  background-color: $white;
  color: $black;
  width: 50px;
}

.popular-section {
  border: 1px solid blue;
  height: 293px;
  width: 300px;
  margin-right: 22px;
}

.pop-title {
  position: relative;
  // top: 139px;
  margin-top: 139px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.popular-section:nth-child(2) .pop-title,
.popular-section:nth-child(5) .pop-title {
  color: $white;
}

.pop-date {
  margin-left: 14px;
}
