.no-section {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.subscription-box {
  background-color: $red;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.magazine {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 290px;
  margin-top: 20px;
  @media screen and (min-width: 1440px) {
    width: 472px;
  }
}

.magazine-item {
  &:nth-child(2n) {
    width: 106px;
    height: 95px;
    background-repeat: no-repeat;
  }

  &:nth-child(2n + 1) {
    width: 85px;
    height: 86px;
    background-repeat: no-repeat;
  }
  &:nth-child(n + 4) {
    @media screen and (max-width: 1439px) {
      display: none;
    }
  }
}

.medium-text {
  @include font(500, 18px, 20px, left);
  @media screen and (min-width: 1440px) {
    @include font(500, 24px, 24px, left);
  }
}

.small-text {
  @include font(700, 15px, 17px, left);
  @media screen and (min-width: 1440px) {
    @include font(700, 16px, 18px, left);
  }
}
