.fourth-sec {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: flex-end;
  }
}

.uk-section-list {
  display: grid;
  @media screen and (min-width: 768px) {
    width: 688px;
    justify-content: space-evenly;
    grid-template-columns: 300px 300px;
  }
  @media screen and (min-width: 1440px) {
    width: 625px;
    justify-content: space-between;
  }
}

.foto-day {
  @media screen and (max-width: 1439px) {
    margin-left: 30px;
  }
  width: 623px;
  height: 377px;
}

.uk-title {
  color: $white;
  @include font(700, 24px, 30px, left);
  width: 424px;
  margin-top: 260px;
  margin-left: 15px;
}
