{{!-- {{#each this}} --}}
<div class="first-container-item slide">
    <div class="first-container-item" style="background-image: url('{{image}}');">
    <p class="category">{{category}}</p>
    <h2 class="slide-title">{{title}}</h2>
    <p class="slide-text">{{text}}</p>
</div>
{{!-- {{/each}} --}}